body{
    background-image: url('Apostle.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome{
    background-color: white;
    color: rgb(138, 8, 8);
    padding: 8px 8px;
}
small{
    padding: 8px 8px;
}
.container{
    background-color: rgba(236, 236, 236, 0.5);
    margin-top: 60px;
    margin-left: 350px;
    margin-right: 300px;  
    padding: 30px 30px;
    border-radius: 12px;
    height: 25em;
}
input{
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    width: 25em;
    margin-left: 110px;
    margin-top: 25px;
}
Input[type=button]:hover{
    opacity: 0.5;
}
}
button[type=button]:hover{
    opacity: 0.5;
}
